{% extends 'base.html.twig' %}

{% block body %}
    <div>{{ content|raw }}</div>

    <ul>
    {% for page in pages %}
        <li>
            <a href="{{ page.path }}">{{ page.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
