<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% block title %}Welcome{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

    <div class="grid grid-cols-6">
        <div class="col-span-4 col-start-2 bg-white p-5 drop-shadow-m">
            {% block body %}{% endblock %}
        </div>
    </div>

    </body>
</html>
