{% extends 'base.html.twig' %}

{% block title %}{{ post.metadata.title }}{% endblock %}

{% block body %}
    <div id="metadata">
        <span class="published">Published {{ post.metadata.published }}</span>
        <span class="author">by {{ post.metadata.author }}</span>
    </div>

    <div id="content">{{ post.content|raw }}</div>

    <div id="bottom">
        <a href="/posts">Back to posts</a>
    </div>

{% endblock %}
